@import "../style/variables";

.bg-attached-sec {
    position: relative;
    margin-top: 111px;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    background: url("../assets/CommercialShifting/bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    @include font-poppins-sans(400);

    h1 {
        position: absolute;
        bottom:0%;
        color: #fff;
        z-index: 10;
        font-size: 80px;
        text-align: center;
        // text-shadow: 0 0 60px #b35800;
    }
}

.bg-attached-sec::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000044;
}


@media screen and (max-width: 1285px) {
    .bg-attached-sec {
        h1{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 1101px) {
    .bg-attached-sec {
        margin-top: 67px;
    }
}
@media screen and (max-width: 1000px) {
    .bg-attached-sec {
        h1{
            font-size: 50px;
            // top: 0;
        }
    }
}
@media screen and (max-width: 695px) {
    .bg-attached-sec {
        h1{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 471px) {
    .bg-attached-sec {
        h1{
            font-size:25px;
        }
    }
}
@media screen and (max-width: 382px) {
    .bg-attached-sec {
        margin-top:61px;
        
    }
}