#customer-review-list{
    margin-top: 107.01px;
    .container{
        margin-bottom: 20px;
    }
}

#get-in-touch-form{
  margin-top: 30px;
}


@media screen and (max-width: 1101px) {
    #customer-review-list {
        margin-top: 63.01px !important;
    }
}