@import "../style/variables";


#table-section-services {

  @include font-poppins-sans(400);
  text-align: center;
  padding: 30px 100px;
  background: #f9fbfd;
  margin: 40px 0;

  p {
    width: 800px;
    margin: 20px auto 20px auto;
    color: #525252;
  }
}