@import "../style/variables";


#table-section-services {

  @include font-poppins-sans(400);
  text-align: center;
  padding: 30px 100px;
  background: #f9fbfd;
  margin: 40px 0;

  p {
    width: 800px;
    margin: 20px 0;
    color: #525252;
    text-align: center;
    width: 100%;
  }
}

.css-i2wln6-MuiTableCell-root{
  @include font-poppins-sans(400);
}


@media screen and (max-width: 1000px) {

  #table-section-services{
    padding: 30px 10px;
  }
}

@media screen and (max-width: 686px) {

  #table-section-services{

    h1{
      font-size: 24px;
    }

    p{
      font-size: 12px;
      margin: 10px 0;
    }
  }
}