@import "../style/variables";


#table-section-services {

  @include font-poppins-sans(400);
  text-align: center;
  padding: 30px 100px;
  background: #f9fbfd;
  margin: 40px 0;

  p {
    width: 800px;
    margin: 20px 0;
    color: #525252;
    text-align: center;
    width: 100%;
  }
}

.css-i2wln6-MuiTableCell-root{
  @include font-poppins-sans(400);
}

.image-box {
    @include font-poppins-sans(400);
    border-radius: 20px;
    background: #000;

    .image-item {
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            opacity: 0.6;
        }

        h2 {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            color: #fff;
            transition: .5s;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        p{
            position: absolute;
            z-index: 2;
            top: 100%;
            left: 50%;
            transition: .5s;
            transform: translateX(-50%);
            color: #fff;
        }
    }

    .image-item:hover{
        h2{
            transform: translate(-50%, -50%) rotate(0deg);
        }
        p{
            top: 60%;
        }
    }
}


@media screen and (max-width: 1000px) {

  #table-section-services{
    padding: 30px 10px;
  }
}

@media screen and (max-width: 680px) {
  .image-box{
    width: 95%;
  }
}

@media screen and (max-width: 686px) {

  #table-section-services{

    h1{
      font-size: 24px;
    }

    p{
      font-size: 12px;
      margin: 10px 0;
    }
  }
}


@media screen and (max-width: 573px) {
  .image-box{
    flex-direction: column;

    .image-item{
      h2{
        transform: translate(-50%, -50%) rotate(0);
      }
      p{
        width: 90%;
        text-align: center;
      }
    }
  }
}
