@import "../style/variables";
.track-page {

  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

}

.track-container {

  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

h1 {

  text-align: center;
  margin-bottom: 20px;
  color:$primary-color;

}

.track-box {

  display: flex;
  gap: 10px;

}

.track-box input {

  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;

}

.track-box button {

  padding: 12px 20px;
  border: none;
  background: $primary-color;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

}

// .track-box button:hover {

//   background: #072c66;

// }

.error {

  color: red;
  margin-top: 15px;
  text-align: center;

}

.order-result {

  margin-top: 30px;

}

.details p {

  margin: 8px 0;

}

.status {

  color: green;
  font-weight: bold;
  margin-left: 5px;

}

/* Timeline */

.timeline {

  display: flex;
  justify-content: space-between;
  margin-top: 25px;

}

.step {

  flex: 1;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #ccc;

}

.step.active {

  border-color: green;
  color: green;
  font-weight: bold;

}
