// $primary-color: #2563eb;
// $primary-color: #18af50;
$primary-color: #23acf1;
// $primary-color: linear-gradient(90deg, #FF671F, #FFFFFF, #046A38);
// $primary-color: #FFA420;
$secondary-color: #15ab4d;
$background-color: #f8f9fa;
// $text-color: #333;
$text-color: #000000;

$grey-text-color: #7e7e7e;
$normal-font-size: 14px;

@font-face {
  font-family: "Poppins";
  src:  url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Example for bold weight */
@font-face {
  font-family: "Poppins";
  src:  url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@mixin font-poppins-sans($weight: 400) {
  font-family: "Poppins", sans-serif;
  font-weight: $weight;
  font-style: normal;
  ascent-override: 92%;
  descent-override: 24%;
  line-gap-override: 0%;
  font-display: swap;
}


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Container
$container-max-width: 1320px;
$container-padding: 15px;

// Z-index
$z-dropdown: 1000;
$z-sticky: 1020;
$z-fixed: 1030;
$z-modal-backdrop: 1040;
$z-modal: 1050;
$z-popover: 1060;
$z-tooltip: 1070;
