@import "../style/variables";

#get-in-touch-form {
    @include font-poppins-sans(400);

    h2,
    p {
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    .container {
        position: relative;
        margin: auto;
        width: 70%;
        display: flex;
        box-shadow: 0 5px 20px #00000029;
        border-radius: 10px;
        overflow: hidden;

        .detail {
            width: 50%;
            background: #d5cdcda6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;

            span {
                margin: 10px 0;
            }
        }


        .form {
            width: 50%;

            form {
                padding: 20px;
                display: flex;
                flex-direction: column;

                input {
                    height: 40px;
                    padding: 0 10px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #878787;
                    margin: 5px 0;
                    width: 100%;
                }

                button {
                    width: 200px;
                    padding: 10px 0;
                    background: $primary-color;
                    @include font-poppins-sans(400);
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                    margin-top: 5px;
                    font-weight: bold;
                    cursor: pointer;
                    font-size: 15px;
                }

                i{
                    margin: 10px 0;
                    font-size: 14px;
                    text-align: center;
                    margin-top: 20px;
                }

                a{
                    // width: 100%;
                    background: #25D366;
                    border-radius: 30px;
                    padding: 8px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #fff;

                    .icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.success-msg {
    color: rgb(0, 200, 0);
}



@media screen and (max-width: 1200px) {
    #get-in-touch-form {
        padding: 10px;

        .container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 687px) {
    #get-in-touch-form {
        padding: 10px;

        .container {
            flex-direction: column;

            .detail {
                width: 100%;

                span {
                    font-size: 12px;
                    margin: 7px 0;
                }
            }

            .form {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
        }
    }
}


@media screen and (max-width:500px) {
    #get-in-touch-form {
        .container {
            .form {
                form.dialogeForm{
                    padding: 0px;
                }
            }
        }
    }

}


@media screen and (max-width: 483px) {
    
#get-in-touch-form {
    h2{
        // font-size: 20px;
    }
    .container{
        .form{
            form{
                i{
                    font-size: 12px;
                }
            }
        }
    }
}
}