.feature {
    .slick-slide {
        margin: 20px 0 20px 0;
        display: flex !important;
        justify-content: center;

        img {
            width: 100%;
            max-height: 400px;
            height: 400px;
            // border-radius: 10px;
            transform: scale(0.9);
            cursor: pointer;
            transition: .2s;
            object-fit: cover;

        }

        img:hover {
            transform: scale(1);
            box-shadow: 0 0 20px #0000004d;
        }

    }


    .slick-list {
        overflow: hidden;
    }
}