*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}