.admin-login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #23acf1);
}

.login-card {
  background: #ffffff;
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;

  h2 {
    margin-bottom: 5px;
    color: #333;
  }

  .error {
    color: red;
  }

  p {
    margin-bottom: 25px;
    color: #777;
    font-size: 14px;
  }

  .input-group {
    text-align: left;
    margin-bottom: 20px;

    label {
      font-size: 14px;
      margin-bottom: 6px;
      display: block;
      color: #444;
    }

    input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
      outline: none;
      font-size: 14px;

      &:focus {
        border-color: #5b6cff;
      }
    }
  }

  .password-box {
    position: relative;

    span {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 13px;
      color: #5b6cff;
      cursor: pointer;
      user-select: none;
    }
  }

  button {
    width: 100%;
    padding: 12px;
    background: #5b6cff;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #4a59e5;
    }
  }
}


.otp-overlay {

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
  transition: .5s;
opacity: 0;
}

.otp-overlay.active{
  opacity: 1;
}

.otp-popup {

  background: white;

  padding: 30px;

  border-radius: 10px;

  width: 350px;

  text-align: center;

}

.otp-popup input {

  width: 100%;
  padding: 10px;

  margin-top: 15px;

  border-radius: 5px;

  border: 1px solid #ccc;

}

.otp-buttons {

  margin-top: 20px;

  display: flex;
  justify-content: space-between;

}

.otp-buttons button {

  padding: 10px 20px;

  border: none;

  background: #23acf1;

  color: white;

  border-radius: 5px;

  cursor: pointer;

}

.otp-buttons .cancel {

  background: gray;

}